.env
.venv
.venv_bd
.venv_basedados
amostra.csv
draft.ipynb
roraima.csv
teste2.csv
teste2.ipynb
/docs/Bussiness Canvas.pptx
notes
.vscode
/support
.DS_Store
/data
/app/services/__pycache__
/app/pages/draft.py